[Unit]
Description=Stars & Pines Web Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/usr/sbin/nginx -s quit
PIDFile=/run/nginx.pid
Restart=on-failure
RestartSec=5s
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target